body {
    width: 1024px;
    font-family: "Helvetica", "Arial", sans-serif;   
    background-color:#ccddff;
}
main{
    text-align: center;
}

section {
    margin: 0 20px;
    font-family: "Montserrat", "Arial", sans-serif; 
}

.box-cont{
    text-align: left;
    margin-left: 35%;
}


.page-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.photo-container {
    text-align: center;
  }

  .section-title{
    font-family: "Montserrat", "Arial", sans-serif; 

  }